@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
h1, h2, h3, div, p, span, a, li {
  font-family: 'Arvo', serif, 'Montserrat', sans-serif; }

.montserrat {
  font-family: 'Montserrat', sans-serif; }

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.body-content {
  max-width: var(--max-width);
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; }

ul {
  list-style-type: none; }

a {
  color: #0060B6;
  text-decoration: none; }

.cubes-containers {
  position: fixed;
  max-width: var(--max-width);
  height: 100vh;
  width: 100vw;
  pointer-events: none; }
  @media (max-width: 600px) {
    .cubes-containers {
      display: none; } }

.cube-container {
  height: 50vh;
  display: flex;
  pointer-events: none; }
  .cube-container.top {
    justify-content: flex-end; }
  .cube-container.bottom {
    align-items: flex-end; }

.cube {
  transition: all 3s border-radius 0.3s;
  transform-style: preserve-3D;
  transform: rotateX(-20deg) rotateY(-15deg);
  height: var(--cube-height);
  width: var(--cube-width);
  transition: all 3s; }
  .cube .side {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    color: #efefef;
    font-size: 140px;
    height: var(--cube-height);
    width: var(--cube-width);
    text-align: center;
    border: 3px solid black;
    font-size: 5rem;
    transition: 3s;
    color: white; }
    .cube .side.front {
      background: rgba(255, 255, 255, 0.3); }
    .cube .side.back {
      background: rgba(255, 255, 255, 0.3); }
    .cube .side.top {
      background: rgba(255, 255, 255, 0.3); }
    .cube .side.bottom {
      background: rgba(255, 255, 255, 0.3); }
    .cube .side.left {
      background: rgba(255, 255, 255, 0.3);
      width: 100px;
      height: 100px; }
    .cube .side.right {
      background: rgba(255, 255, 255, 0.3);
      height: 100px;
      width: 100px;
      height: 100px; }
    .cube .side:hover {
      background: #fad141; }
  .cube#from {
    margin-top: 100px;
    right: 10vw; }
    @media screen and (max-width: 500px) {
      .cube#from {
        right: 25px;
        margin-top: 20px;
        transform: 0; } }
    .cube#from:hover {
      transform: translateX(30px) rotateX(-20deg) rotateY(-15deg); }
    .cube#from::before {
      content: "We Turn";
      position: absolute;
      left: 50px;
      top: 100px;
      font-size: 3rem;
      left: -232px;
      top: 65px;
      background: white; }
      @media screen and (max-width: 500px) {
        .cube#from::before {
          display: none; } }
  .cube#to {
    margin-bottom: 100px;
    left: 10vw;
    margin-left: 50px; }
    @media screen and (max-width: 500px) {
      .cube#to {
        left: 25px;
        margin-bottom: 20px;
        transform: 0; } }
    .cube#to:hover {
      transform: translateX(-30px) rotateX(-20deg) rotateY(-15deg); }
    .cube#to::after {
      background: white;
      content: "Into";
      position: absolute;
      font-size: 3rem;
      left: -22px;
      top: -85px; }
      @media screen and (max-width: 500px) {
        .cube#to::after {
          display: none; } }

:root {
  --purple: #d27dff;
  --pink: #f725a0;
  --light-pink: #ffb3cd;
  --yellow: #f8f85a;
  --blue:    #0cb2c0;
  --blue-green: #36acac;
  --grey: #e8e6d9;
  --black: #000;
  --max-width: 1280px;
  --nav-height: 60px;
  --section-separator-height: 100px;
  --cube-height:100px ;
  --cube-width:300px ; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  background: transparent;
  z-index: 1;
  background-blend-mode: exclusion;
  display: flex;
  justify-content: center;
  background: white;
  height: var(--nav-height);
  justify-content: end;
  z-index: 2; }
  nav ul {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 500px) {
      nav ul {
        padding: 0; } }
    nav ul li {
      font-size: 1.4rem;
      padding: 0.3rem 1rem;
      margin: 0 1rem;
      color: white;
      cursor: pointer;
      color: var(--pink);
      color: black;
      position: relative;
      transition: 0.3s; }
      nav ul li::after {
        position: absolute;
        width: 50%;
        height: 50%;
        content: '';
        z-index: -1;
        left: -10px;
        bottom: 25px;
        transition: 0.3s;
        border-top: 2px solid black;
        border-left: 2px solid black; }
      nav ul li:hover {
        color: white; }
        nav ul li:hover::after {
          left: 0;
          width: 100%;
          height: 100%;
          bottom: 0px;
          background: var(--pink); }
        nav ul li:hover:nth-child(1)::after {
          background: var(--pink); }
        nav ul li:hover:nth-child(2)::after {
          background: var(--blue); }
        nav ul li:hover:nth-child(3)::after {
          background: var(--yellow); }

.shape {
  margin: 0 auto;
  position: relative;
  opacity: 0.7;
  z-index: -1; }

.shape-stripe {
  position: absolute;
  height: 100%;
  overflow-y: hidden;
  opacity: 0.7;
  width: 30vw;
  transition: 2s;
  background: transparent;
  background: radial-gradient(transparent, transparent); }
  .shape-stripe .space-invader-container {
    width: 100%;
    /* display: flex; */
    justify-content: center;
    text-align: center; }
    .shape-stripe .space-invader-container .space-invader {
      width: 50px;
      transform: translateY(-12vh); }
  .shape-stripe:nth-child(1) {
    left: 10vw; }
  .shape-stripe:nth-child(2) {
    right: 10vw; }
  .shape-stripe:hover {
    background: radial-gradient(violet, transparent);
    font-size: 17rem; }
  .shape-stripe:after {
    width: 0;
    height: 0;
    top: 20;
    border-bottom: 400px solid white;
    border-right: 200px solid transparent;
    z-index: -1;
    transform: rotateX(20);
    width: 0;
    height: 0;
    top: 20;
    border-bottom: 400px solid white;
    border-right: 20vw solid transparent;
    z-index: -1;
    transition: 0.5s; }

.random-shape:after {
  font-family: inherit; }

@keyframes shape-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(222deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(582deg); } }

.shape-container-1 {
  animation: shape-1 44s linear infinite; }
  .shape-container-1 .random-shape:after {
    color: var(--black);
    font-size: 1.74rem;
    content: "0"; }

@keyframes shape-2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(252deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(612deg); } }

.shape-container-2 {
  animation: shape-2 50s linear infinite; }
  .shape-container-2 .random-shape:after {
    color: var(--purple);
    font-size: 0.34rem;
    content: "I"; }

@keyframes shape-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(94deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(454deg); } }

.shape-container-3 {
  animation: shape-3 44s linear infinite; }
  .shape-container-3 .random-shape:after {
    color: var(--black);
    font-size: 0.54rem;
    content: "I"; }

@keyframes shape-4 {
  0% {
    transform: translate3d(0, 0, 0) rotate(316deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(676deg); } }

.shape-container-4 {
  animation: shape-4 43s linear infinite; }
  .shape-container-4 .random-shape:after {
    color: var(--purple);
    font-size: 1.54rem;
    content: "I"; }

@keyframes shape-5 {
  0% {
    transform: translate3d(0, 0, 0) rotate(47deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(407deg); } }

.shape-container-5 {
  animation: shape-5 64s linear infinite; }
  .shape-container-5 .random-shape:after {
    color: var(--black);
    font-size: 0.74rem;
    content: "I"; }

@keyframes shape-6 {
  0% {
    transform: translate3d(0, 0, 0) rotate(60deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(420deg); } }

.shape-container-6 {
  animation: shape-6 70s linear infinite; }
  .shape-container-6 .random-shape:after {
    color: var(--black);
    font-size: 1.94rem;
    content: "I"; }

@keyframes shape-7 {
  0% {
    transform: translate3d(0, 0, 0) rotate(265deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(625deg); } }

.shape-container-7 {
  animation: shape-7 54s linear infinite; }
  .shape-container-7 .random-shape:after {
    color: black;
    font-size: 1.34rem;
    content: "I"; }

@keyframes shape-8 {
  0% {
    transform: translate3d(0, 0, 0) rotate(351deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(711deg); } }

.shape-container-8 {
  animation: shape-8 60s linear infinite; }
  .shape-container-8 .random-shape:after {
    color: var(--pink);
    font-size: 0.54rem;
    content: "0"; }

@keyframes shape-9 {
  0% {
    transform: translate3d(0, 0, 0) rotate(254deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(614deg); } }

.shape-container-9 {
  animation: shape-9 64s linear infinite; }
  .shape-container-9 .random-shape:after {
    color: var(--pink);
    font-size: 1.94rem;
    content: "0"; }

@keyframes shape-10 {
  0% {
    transform: translate3d(0, 0, 0) rotate(43deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(403deg); } }

.shape-container-10 {
  animation: shape-10 49s linear infinite; }
  .shape-container-10 .random-shape:after {
    color: var(--black);
    font-size: 1.54rem;
    content: "0"; }

@keyframes shape-11 {
  0% {
    transform: translate3d(0, 0, 0) rotate(194deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(554deg); } }

.shape-container-11 {
  animation: shape-11 54s linear infinite; }
  .shape-container-11 .random-shape:after {
    color: var(--black);
    font-size: 2.14rem;
    content: "I"; }

@keyframes shape-12 {
  0% {
    transform: translate3d(0, 0, 0) rotate(103deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(463deg); } }

.shape-container-12 {
  animation: shape-12 43s linear infinite; }
  .shape-container-12 .random-shape:after {
    color: var(--pink);
    font-size: 1.74rem;
    content: "0"; }

@keyframes shape-13 {
  0% {
    transform: translate3d(0, 0, 0) rotate(212deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(572deg); } }

.shape-container-13 {
  animation: shape-13 69s linear infinite; }
  .shape-container-13 .random-shape:after {
    color: var(--pink);
    font-size: 0.54rem;
    content: "I"; }

@keyframes shape-14 {
  0% {
    transform: translate3d(0, 0, 0) rotate(237deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(597deg); } }

.shape-container-14 {
  animation: shape-14 50s linear infinite; }
  .shape-container-14 .random-shape:after {
    color: var(--purple);
    font-size: 0.54rem;
    content: "0"; }

@keyframes shape-15 {
  0% {
    transform: translate3d(0, 0, 0) rotate(196deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(556deg); } }

.shape-container-15 {
  animation: shape-15 47s linear infinite; }
  .shape-container-15 .random-shape:after {
    color: var(--purple);
    font-size: 1.54rem;
    content: "0"; }

@keyframes shape-16 {
  0% {
    transform: translate3d(0, 0, 0) rotate(54deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(414deg); } }

.shape-container-16 {
  animation: shape-16 48s linear infinite; }
  .shape-container-16 .random-shape:after {
    color: var(--pink);
    font-size: 1.34rem;
    content: "0"; }

@keyframes shape-17 {
  0% {
    transform: translate3d(0, 0, 0) rotate(78deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(438deg); } }

.shape-container-17 {
  animation: shape-17 49s linear infinite; }
  .shape-container-17 .random-shape:after {
    color: var(--black);
    font-size: 1.74rem;
    content: "I"; }

@keyframes shape-18 {
  0% {
    transform: translate3d(0, 0, 0) rotate(278deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(638deg); } }

.shape-container-18 {
  animation: shape-18 70s linear infinite; }
  .shape-container-18 .random-shape:after {
    color: var(--pink);
    font-size: 0.34rem;
    content: "I"; }

@keyframes shape-19 {
  0% {
    transform: translate3d(0, 0, 0) rotate(101deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(461deg); } }

.shape-container-19 {
  animation: shape-19 42s linear infinite; }
  .shape-container-19 .random-shape:after {
    color: var(--purple);
    font-size: 1.14rem;
    content: "0"; }

@keyframes shape-20 {
  0% {
    transform: translate3d(0, 0, 0) rotate(36deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(396deg); } }

.shape-container-20 {
  animation: shape-20 42s linear infinite; }
  .shape-container-20 .random-shape:after {
    color: black;
    font-size: 0.34rem;
    content: "0"; }

@keyframes shape-21 {
  0% {
    transform: translate3d(0, 0, 0) rotate(109deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(469deg); } }

.shape-container-21 {
  animation: shape-21 43s linear infinite; }
  .shape-container-21 .random-shape:after {
    color: black;
    font-size: 0.54rem;
    content: "0"; }

@keyframes shape-22 {
  0% {
    transform: translate3d(0, 0, 0) rotate(234deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(594deg); } }

.shape-container-22 {
  animation: shape-22 53s linear infinite; }
  .shape-container-22 .random-shape:after {
    color: var(--purple);
    font-size: 0.34rem;
    content: "0"; }

@keyframes shape-23 {
  0% {
    transform: translate3d(0, 0, 0) rotate(212deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(572deg); } }

.shape-container-23 {
  animation: shape-23 53s linear infinite; }
  .shape-container-23 .random-shape:after {
    color: black;
    font-size: 1.34rem;
    content: "I"; }

@keyframes shape-24 {
  0% {
    transform: translate3d(0, 0, 0) rotate(38deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(398deg); } }

.shape-container-24 {
  animation: shape-24 41s linear infinite; }
  .shape-container-24 .random-shape:after {
    color: var(--purple);
    font-size: 0.54rem;
    content: "0"; }

@keyframes shape-25 {
  0% {
    transform: translate3d(0, 0, 0) rotate(215deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(575deg); } }

.shape-container-25 {
  animation: shape-25 51s linear infinite; }
  .shape-container-25 .random-shape:after {
    color: var(--pink);
    font-size: 1.14rem;
    content: "I"; }

@keyframes shape-26 {
  0% {
    transform: translate3d(0, 0, 0) rotate(33deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(393deg); } }

.shape-container-26 {
  animation: shape-26 62s linear infinite; }
  .shape-container-26 .random-shape:after {
    color: var(--black);
    font-size: 2.14rem;
    content: "I"; }

@keyframes shape-27 {
  0% {
    transform: translate3d(0, 0, 0) rotate(5deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(365deg); } }

.shape-container-27 {
  animation: shape-27 44s linear infinite; }
  .shape-container-27 .random-shape:after {
    color: black;
    font-size: 1.54rem;
    content: "0"; }

@keyframes shape-28 {
  0% {
    transform: translate3d(0, 0, 0) rotate(249deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(609deg); } }

.shape-container-28 {
  animation: shape-28 64s linear infinite; }
  .shape-container-28 .random-shape:after {
    color: var(--purple);
    font-size: 2.14rem;
    content: "I"; }

@keyframes shape-29 {
  0% {
    transform: translate3d(0, 0, 0) rotate(72deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(432deg); } }

.shape-container-29 {
  animation: shape-29 59s linear infinite; }
  .shape-container-29 .random-shape:after {
    color: var(--pink);
    font-size: 1.94rem;
    content: "0"; }

@keyframes shape-30 {
  0% {
    transform: translate3d(0, 0, 0) rotate(72deg); }
  100% {
    transform: translate3d(0, 0, 0) rotate(432deg); } }

.shape-container-30 {
  animation: shape-30 41s linear infinite; }
  .shape-container-30 .random-shape:after {
    color: var(--pink);
    font-size: 1.54rem;
    content: "0"; }

.wavely-lines {
  transition: 1s; }
  .wavely-lines:hover {
    transform: scaleX(1.2); }
    .wavely-lines:hover .cls-1 {
      transform: rotateY(50deg);
      transform: rotateX(-20deg); }
  .wavely-lines .cls-1 {
    transition: 3s; }

#wavy-lines1 {
  stroke-dasharray: 100;
  transition: 3s;
  stroke-dashoffset: 0; }
  #wavy-lines1:hover {
    stroke-dashoffset: 200; }

@keyframes data-loop {
  to {
    transform: translateX(100px); } }

#data-separator {
  display: flex;
  border: 3px solid black; }
  #data-separator h2 {
    min-width: 150px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    animation: floatText 5s infinite linear;
    padding-left: -100%;
    /*Initial offset, which places the text off-screen*/
    align-items: center;
    transform: translateX(-100%); }

@keyframes floatText {
  to {
    transform: translateX(0%); } }

.section {
  min-height: 100vh;
  width: 100%;
  max-width: var(--max-width);
  overflow-y: hidden;
  position: relative; }
  @media screen and (max-width: 510px) {
    .section {
      height: auto;
      padding: var(--cube-height) 0; } }
  .section::after {
    background: var(--grey);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0; }
  .section.grey::after {
    background: var(--grey);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0; }
  .section .sub-section {
    width: 100%;
    display: flex; }
    @media screen and (max-width: 510px) {
      .section .sub-section {
        height: auto; } }
    .section .sub-section.bottom {
      flex-direction: row-reverse; }
    .section .sub-section.full {
      height: 100%; }
    .section .sub-section .content {
      position: relative;
      width: 50%; }
      @media screen and (max-width: 510px) {
        .section .sub-section .content {
          width: auto; } }
  .section .bottom-section {
    height: 50vh;
    width: 100vw; }
    .section .bottom-section .content {
      width: 60vw; }

.container-highlight-title {
  background: transparent;
  margin: 0;
  padding: 2rem;
  font-size: 2.5rem;
  position: relative;
  width: auto; }
  .container-highlight-title.round:after {
    border-bottom-left-radius: 20px; }
  .container-highlight-title.yellow:after {
    position: absolute;
    top: -20px;
    left: -10px;
    background-color: var(--yellow);
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    width: 120%;
    height: 100%;
    content: "";
    z-index: -2; }
  .container-highlight-title.pink:after {
    position: absolute;
    top: -20px;
    left: -10px;
    background-color: var(--light-pink);
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    width: 120%;
    height: 100%;
    content: "";
    z-index: -2; }
  .container-highlight-title.dotted {
    border-bottom: 3px dotted black;
    border-right: 3px dotted black; }
  .container-highlight-title:after {
    position: absolute;
    top: -20px;
    left: -10px;
    content: ""; }
  .container-highlight-title.triangle:after {
    width: 0;
    height: 0;
    top: 20;
    border-bottom: 100px solid var(--blue-green);
    border-right: 200px solid transparent;
    z-index: -1;
    transform: rotateX(20);
    width: 0;
    height: 0;
    top: 20;
    border-bottom: 100px solid var(--blue-green);
    border-right: 250px solid transparent;
    z-index: -1;
    transform: rotateX(20);
    transform: rotateZ(-21deg) rotateY(38deg);
    transition: 0.5s; }
  .container-highlight-title.triangle:hover {
    transform: rotateX(0deg); }
    .container-highlight-title.triangle:hover:after {
      transform: rotateX(0deg); }

.iot-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 600px) {
    .iot-section-container {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center; } }
  .iot-section-container .iot-title {
    margin: 2rem 7rem;
    color: white;
    font-size: 9rem; }
    @media (max-width: 600px) {
      .iot-section-container .iot-title {
        margin: 0;
        margin: 0rem 0rem; } }
  .iot-section-container .container-highlight-iot {
    margin: 2rem 7rem;
    font-size: 9rem;
    color: white; }
    @media (max-width: 600px) {
      .iot-section-container .container-highlight-iot {
        margin: 0rem 0rem; } }

.container-highlight-iot {
  margin: 0;
  padding: 2rem;
  font-size: 2.5rem;
  position: relative;
  width: auto;
  width: 300px; }

.container-highlight-text {
  background: white;
  padding: 1rem;
  position: relative;
  margin: 1rem;
  margin: 3rem; }
  .container-highlight-text.bold {
    border: 3px solid black; }
  @media screen and (max-width: 1000px) {
    .container-highlight-text {
      margin: 3rem; } }
  @media screen and (max-width: 750px) {
    .container-highlight-text {
      margin: 1rem; } }
  @media screen and (max-width: 510px) {
    .container-highlight-text {
      margin: 1rem; } }
  .container-highlight-text::after {
    background: var(--pink);
    height: 100%;
    width: 100%;
    top: -24px;
    left: -25px;
    content: '';
    position: absolute;
    z-index: -1; }
    @media screen and (max-width: 510px) {
      .container-highlight-text::after {
        top: -20px;
        left: -30px; } }
  .container-highlight-text.small {
    width: 50%;
    min-width: 300px; }
  .container-highlight-text.multiple-bg::after {
    background: var(--blue);
    transform: rotate(102deg);
    transition: 2s;
    mix-blend-mode: hue;
    height: 250px;
    width: 250px;
    clip-path: polygon(50% 0%, 78% 22%, 98% 71%, 75% 100%, 10% 93%, 0 57%, 8% 7%); }
  .container-highlight-text.multiple-bg::before {
    transform: rotate(-30deg);
    background: var(--yellow);
    clip-path: polygon(11% 14%, 64% 0, 100% 6%, 83% 84%, 23% 100%, 0% 50%);
    height: 200px;
    width: 200px;
    top: -160px;
    left: -170px;
    content: '';
    position: absolute;
    z-index: -1;
    transition: 1.4s; }
    @media screen and (max-width: 510px) {
      .container-highlight-text.multiple-bg::before {
        top: -20px;
        left: -30px; } }
  .container-highlight-text.multiple-bg:hover::after {
    background: var(--blue);
    transform: rotate(0);
    top: -160px;
    left: -170px;
    border-radius: 700px;
    clip-path: none;
    background: var(--pink);
    transform: rotate(102deg);
    transition: 2s; }
  .container-highlight-text.multiple-bg:hover::before {
    transform: translate(-20px, -30px);
    height: 100%;
    width: 100%;
    clip-path: none;
    top: -60px;
    left: -70px; }

.section-separator {
  width: 100vw;
  background: white;
  background: white;
  height: 7rem;
  z-index: 20;
  mix-blend-mode: overlay; }
  .section-separator.pink {
    height: var(--section-separator-height);
    background: var(--pink); }

.tri-pattern {
  position: relative;
  height: 100px;
  width: 100px;
  background: beige; }
  .tri-pattern .c {
    background: var(--pink);
    height: 30px;
    width: 30px;
    border-radius: 30px;
    position: absolute; }
    .tri-pattern .c.two {
      bottom: 0px;
      right: 0px; }
  .tri-pattern .b {
    position: absolute;
    background: var(--pink);
    background: var(--pink);
    height: 30px;
    width: 5px;
    border-radius: 0;
    top: 22.5px;
    top: 40px; }
    .tri-pattern .b.one {
      left: 30px; }
    .tri-pattern .b.two {
      left: 47.5px; }
    .tri-pattern .b.three {
      left: 65px; }

.first .main-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: hidden;
  position: relative; }
  .first .main-title-container .title-letters {
    font-size: 50vh;
    cursor: pointer;
    font-size: 70vh;
    line-height: 53vh; }
    .first .main-title-container .title-letters.left {
      font-size: 50vh; }
    .first .main-title-container .title-letters.right {
      text-align: right; }

.first .main-title-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10; }
  .first .main-title-background .blobone-container {
    width: 40vw; }
    .first .main-title-background .blobone-container .blobone path {
      fill: var(--purple);
      stroke: none; }
  .first .main-title-background .blobtwo-container .blobtwo {
    width: 50vw; }
    .first .main-title-background .blobtwo-container .blobtwo path {
      fill: var(--blue);
      stroke: none; }

@keyframes random-blob-move {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1.1); }
  60% {
    transform: scale(1.3); }
  80% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.section.full {
  max-width: 100vw; }

.section.relative {
  position: relative; }

.section-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10; }
  .section-background .bg-image-container {
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    padding: 4rem;
    z-index: -100; }
    .section-background .bg-image-container.small {
      width: 100%; }
      .section-background .bg-image-container.small img {
        width: 55%; }
    .section-background .bg-image-container.left {
      display: flex;
      align-items: inherit;
      justify-content: flex-end; }
    .section-background .bg-image-container img {
      width: 100%;
      overflow: hidden; }
      @media (max-width: 600px) {
        .section-background .bg-image-container img {
          display: none; } }
  .section-background .visual-target {
    width: 20%;
    bottom: 1rem;
    right: 2rem;
    position: absolute; }
    .section-background .visual-target .target-inner-circle {
      fill: none;
      stroke: #000;
      stroke-miterlimit: 10;
      stroke-width: 4px;
      stroke: #000;
      stroke-miterlimit: 10;
      stroke-width: 3px; }
      fill:white .section-background .visual-target .target-inner-circle5 {
        fill: var(--pink); }
  .section-background .stripe-square-cut {
    width: 40%;
    top: 1rem;
    right: 2rem;
    position: absolute; }
    .section-background .stripe-square-cut .stripe-add {
      transform: translate(20px, -50px); }

@keyframes add-cube {
  0% {
    transform: translate(-100px, -150px) rotate(70deg); }
  10% {
    transform: translate(-80px, -100px) rotate(50deg); }
  20% {
    transform: translate(-40px, -70px) rotate(30deg); }
  30% {
    transform: translate(-20px, -50px) rotate(0deg); }
  40% {
    transform: translate(0, 0) rotate(0deg); }
  60% {
    transform: translate(-20px, -50px) rotate(0deg); }
  70% {
    transform: translate(-50px, -70px) rotate(20deg); }
  80% {
    transform: translate(-80px, -80px) rotate(60deg); }
  90% {
    transform: translate(-100px, -150px) rotate(70deg); }
  100% {
    transform: translate(-100px, -150px) rotate(70deg); } }
  .section-background .purple-bg-square {
    background: var(--purple);
    height: 60%;
    width: 15%;
    bottom: 1rem;
    right: 2rem;
    position: absolute; }
  .section-background .little-cubes-svg {
    height: 60%;
    width: 15%;
    top: 1rem;
    right: 2rem;
    position: absolute; }
  .section-background #constellation-background-container {
    background-color: var(--purple);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
  .section-background #constellation-background {
    width: 50%;
    z-index: 1; }
    @media (max-width: 600px) {
      .section-background #constellation-background {
        width: 100vw; } }

#background-canvas {
  height: 100%;
  width: 100%; }

#lateral {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100vh;
  margin: 0;
  background: #abc;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-100vh);
  height: 100vw;
  transform-origin: right top;
  background: blue;
  mix-blend-mode: hue; }
  #lateral > div {
    transform: rotate(90deg); }

.randomShapesBackground {
  width: 100vh;
  background: white;
  height: 80vw;
  padding: 100px; }
  .randomShapesBackground .group--offset-fill {
    position: relative; }
  .randomShapesBackground .shape--triangle {
    width: 0;
    height: 0;
    border: 1rem solid transparent;
    border-top: 0rem solid transparent;
    border-bottom: 2rem solid #333; }
    .randomShapesBackground .shape--triangle.shape--offset-fill {
      position: absolute;
      top: .5rem;
      left: .75rem;
      border-bottom-color: rgba(255, 0, 0, 0.3);
      z-index: -1; }
  .randomShapesBackground .shape--filled, .randomShapesBackground .zig, .randomShapesBackground .shape--zig, .randomShapesBackground .shape--zag {
    background-color: #333; }
  .randomShapesBackground .shape--circle {
    width: 2rem;
    height: 2rem;
    border-radius: 100%; }
  .randomShapesBackground .shape--line, .randomShapesBackground .zig, .randomShapesBackground .shape--zig, .randomShapesBackground .shape--zag {
    width: 3rem;
    height: .25rem; }
  .randomShapesBackground .zig, .randomShapesBackground .shape--zig, .randomShapesBackground .shape--zag {
    width: 1.5rem;
    display: inline-block;
    margin-right: -0.83333rem; }
  .randomShapesBackground .shape--zig {
    transform: rotate(45deg); }
  .randomShapesBackground .shape--zag {
    transform: rotate(-45deg); }

h1, h2, h3, div, p, span, a, li {
  font-family: 'Arvo', serif, 'Montserrat', sans-serif; }

p {
  line-height: 31px;
  letter-spacing: 0.3px;
  font-size: 1.1rem; }

.montserrat {
  font-family: 'Montserrat', sans-serif; }

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.body-content {
  max-width: var(--max-width);
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; }

ul {
  list-style-type: none; }

a {
  color: #0060B6;
  text-decoration: none; }

.highlight-background {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  border-radius: 3px; }

.highlight {
  background-position: 100% 100%;
  background-size: 200% 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(yellow), color-stop(50%, yellow), color-stop(50%, transparent), to(transparent));
  background-image: -o-linear-gradient(left, yellow, yellow 50%, transparent 50%, transparent);
  background-image: linear-gradient(to right, yellow, yellow 50%, transparent 50%, transparent);
  -webkit-transition: all 1.2s ease-in;
  -o-transition: all 1.2s ease-in;
  transition: all 1.2s ease-in; }

.highlight.show {
  background-position: 0 0; }

body {
  background: white;
  min-width: 100vw;
  padding: 0;
  margin: 0;
  min-height: 100vw; }
